<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container my-4">
      <header style="display: flex">
        <div class="store">
          <img
            src="static/kazim.jpg"
            alt="kazim profile image"
            class="profile"
            style="border-radius: 50%"
            width="150px"
          />
        </div>
        <div class="storeText">
          <h1>Mohammed Kazim Shaikh</h1>
          <p>
            <em>Fresher</em
            ><a href="https://github.com/kazimshaikh07">github</a>
          </p>
          <p>Want to become a software engineer. I love coding</p>
        </div>
      </header>
      <hr />
      <div class="knowledge">
        <h3>Course knowledge</h3>
        <ul>
          <li>Have knowledge in java</li>
          <li>have core knowledge in python</li>
        </ul>
        <hr />
        <div class="experience">
          <h3>Work experience</h3>
          <table>
            <tr>
              <th><b>Dates</b></th>
              <th><b>Work</b></th>
            </tr>
            <tr>
              <th style="font-weight: normal">2021-2025</th>
              <th style="font-weight: normal">AITR, indore</th>
            </tr>
            <tr>
              <th style="font-weight: normal">2020-2021</th>
              <th style="font-weight: normal">SMA, dewas</th>
            </tr>
            <tr>
              <th style="font-weight: normal">2018-2019</th>
              <th style="font-weight: normal">SMA, dewas</th>
            </tr>
          </table>
        </div>
        <hr />
        <div class="skills">
          <h3>Skills</h3>
          <table>
            <ul>
              <th style="font-weight: normal">Web Developer</th>
              <th>
                <span class="fa fa-star checked" style="color: gold"></span
                ><span class="fa fa-star checked" style="color: gold"></span
                ><span class="fa fa-star checked" style="color: gold"></span>
              </th>
            </ul>
            <ul>
              <th style="font-weight: normal">Java Programming</th>
              <th>
                <span class="fa fa-star checked" style="color: gold"></span
                ><span class="fa fa-star checked" style="color: gold"></span
                ><span class="fa fa-star checked" style="color: gold"></span>
              </th>
            </ul>
          </table>
        </div>
        <hr />
      </div>
      <footer>
        <a href="#">Hobbies</a>
        <a href="#">Contact me</a>
      </footer>
    </div>
  </body>
</html>
